<div id="flight-search" class="parentDiv">


<div id="container" class="box">
  <div>
    <app-dropdown-search 
        placeholder="Leaving from" 
        [airportList]="airportList"
        (selectedAirport) = "setLeavingFrom($event)">
    </app-dropdown-search>
  </div>

  <div>
    <app-dropdown-search 
        placeholder="Going To" 
        [airportList]="airportList"
        (selectedAirport) = "setGoingTo($event)">
    </app-dropdown-search>
  </div>

  <div>    
    <app-date-picker (selectedDate) = "setDate($event)"></app-date-picker>
  </div>

  <div>
    <input type="button" (click)="showFlights()" value="View details" class="buttonCls">
  </div>
</div>

<div  *ngIf="showFlightList">
    <div *ngFor="let flight of flightList; let i=index;">
      <app-flight-detail 
          [flightData]="flightList[i]"
          [origin]="leavingCityName"
          [destination]="goingToCityName"
          [searchDate]="searchDate">
    </app-flight-detail>
    <div> </div>
    </div>
</div>
</div>

<app-loading-indicator [show]="showloadingIndicator">
</app-loading-indicator>

<app-validation-message *ngIf="showValidationMsg" [message]="validationMsg"></app-validation-message>

<router-outlet></router-outlet>